# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import openweathermapy as ow
# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"
#with open(output_data_file) as cities_file:
    #cities_reader = csv.reader(cities_file)
   # cities = [city[0] for city in cities_reader]
   # weather_data = [ow.get_current(city, **settings) for city in cities]

    # Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [16]:
#

## Generate Cities List

In [17]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=50)
lngs = np.random.uniform(low=-180.000, high=180.000, size=50)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

42

In [18]:
cities_df = pd.DataFrame({"city" : cities})
cities_df["Lat"] = ""
cities_df["Lon"] = ""
cities_df["Wind Speed"] = ""
cities_df["Humidity"] = ""
cities_df["Temperature"] = ""
cities_df["Cloud Cover"] = ""
cities_df.head()

        city Lat Lon Wind Speed Humidity Temperature Cloud Cover
0  taolanaro
1    limaong
2    oistins
3      arman
4      airai

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [19]:

base_url ="http://api.openweathermap.org/data/2.5/weather?units=imperial&APPID"
for index, row in cities_df.iterrows():
    target_url = "http://api.openweathermap.org/data/2.5/weather?q=%s&units=IMPERIAL&appid=%s" %(row["city"], api_key)
    response = requests.get(target_url).json()
    #cities_df.set_value(index, "Lat", response["coord"]["lat"])
    #cities_df.set_value(index, "Lon", response["coord"]["lon"])
    #cities_df.set_value(index, "Temperature", response["main"]["temp"])
    try:     
        cities_df.set_value(index, "Lat", response["coord"]["lat"])
        cities_df.set_value(index, "Lon", response["coord"]["lon"])
        cities_df.set_value(index, "Humidity", response["main"]["humidity"])
        cities_df.set_value(index, "Temperature", response["main"]["temp_max"])
        cities_df.set_value(index, "Wind Speed", response["wind"]["speed"])
        cities_df.set_value(index, "Cloud Cover", response["clouds"]["all"])
           
    except:
        print("Missing details... skip.")
        
    response
    print(target_url)

Missing details... skip.
http://api.openweathermap.org/data/2.5/weather?q=taolanaro&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3

/anaconda3/envs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.
/anaconda3/envs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()
/anaconda3/envs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:12: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if sys.path[0] == '':
/anaconda3/envs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:13: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  del sys.path[0]
/anaconda3/envs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/anaconda3/envs/myenv/lib/python3.6/site-packages/ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app

http://api.openweathermap.org/data/2.5/weather?q=limaong&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=oistins&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=arman&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=airai&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=qaanaaq&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
Missing details... skip.
http://api.openweathermap.org/data/2.5/weather?q=jabiru&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
Missing details... skip.
http://api.openweathermap.org/data/2.5/weather?q=yomitan&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=hithadhoo&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=smithers&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=lubbock&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=butaritari&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
Missing details... skip.
http://api.openweathermap.org/data/2.5/weather?q=amderma&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=kanlagay&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=bluff&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
Missing details... skip.
http://api.openweathermap.org/data/2.5/weather?q=vaitupu&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=mataura&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=marienburg&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=port alfred&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=vila&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=lashio&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=zarubino&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=jonesboro&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=arraial do cabo&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=busselton&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
Missing details... skip.
http://api.openweathermap.org/data/2.5/weather?q=marcona&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=monte san pietro&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=gorin&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=kruisfontein&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=labuan&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=barrow&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=saskylakh&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=udalguri&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=moindou&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=sabang&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=chipinge&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=bethel&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=new norfolk&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=piltene&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=yumen&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
Missing details... skip.
http://api.openweathermap.org/data/2.5/weather?q=alotau&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3
http://api.openweathermap.org/data/2.5/weather?q=rocha&units=IMPERIAL&appid=de8f8a24da42e1fb0732f88c4e3e70a3

In [20]:
cities_df.head()

        city    Lat     Lon Wind Speed Humidity Temperature Cloud Cover
0  taolanaro
1    limaong   7.36  122.37        6.4      100       80.05          36
2    oistins  13.07  -59.53      13.87       70          86          40
3      arman   59.7  150.17       8.95      100        39.2          90
4      airai  -8.93  125.41       1.36       79       61.33           0

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [21]:
cities_df.to_csv('homeworkcitydata.csv')

In [22]:
cities_df.head()

        city    Lat     Lon Wind Speed Humidity Temperature Cloud Cover
0  taolanaro
1    limaong   7.36  122.37        6.4      100       80.05          36
2    oistins  13.07  -59.53      13.87       70          86          40
3      arman   59.7  150.17       8.95      100        39.2          90
4      airai  -8.93  125.41       1.36       79       61.33           0

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

In [26]:
cities_df["Lat"]
cities_df["Temperature"]
#plt.scatter(cities_df["Lat"], cities_df["Temperature"], marker="o", alpha =.7, edgecolors='black')
#plt.title("Latitudes vs. Temperature")
cities_df.dtypes

city           object
Lat            object
Lon            object
Wind Speed     object
Humidity       object
Temperature    object
Cloud Cover    object
dtype: object

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot